body
{
    font-family: "Arial", sans-serif;
	font-size: 20px;
	text-align: center;
	width: 800px;
	box-sizing: border-box;
	box-align: center;
	margin: auto;
	background: grey;
}
section
{
	margin: auto;
	margin-top: 10px;
    text-align: center;
	float: left;
	width: 40%;
}
.eval
{
	width: 20%;
}
p
{
	font-family: "Arial", sans-serif;
	font-size: 20px;
}
button
{
	font-family: "Arial", sans-serif;
	font-size: 20px;
}
progress
{
    margin-top: 150px;
    margin-left: -50px;
	width: 300px;
	height: 100px;
    transform: rotate(270deg);
	color: white;
	background: black;
	background-color: black;
}
progress::-moz-progress-bar
{
	background-color: white;
}
.g_container
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: auto;
}
.cell
{
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
		-height: 100px;
    font-size: 60px;
}
